<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
</head>

<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>

<body style="font-family: Montserrat, sans-serif; color: black; font-weight: 400; padding: 0; margin: 0">

<div style="display: block; justify-content: center;">
    <div style="text-align: center">
        <img src="https://i.ibb.co/gTHpPPJ/logo.png">
    </div>
    <div style="align-items: center; text-align: center;">
        <div style="font-size: 15px;">
            <p>OLÁ, ${GREETING}</p>
            <p style="font-weight: bold;">OBRIGADO POR SE CADASTRAR!</p>
            <p style="margin-top: 30px">Utilize a senha abaixo para </p>
            <p>fazer login no site e finalizar o seu cadastro.</p>
            <p>Não se preocupe!</p>
            <p>Você pode alterar a senha depois.</p>
            <div style="display:block; margin-top: 50px">
                <span
                   style="padding: 15px 100px;border:2px solid; border-radius: 8px; background-color: #0063f5; margin: 1px; color: white">
                    ${PASSWORD}
                </span>
            </div>

            <p style="line-height:40px; margin-top: 70px">Para sua segurança, não<br>
                compartilhe este e-mail.</p>
        </div>
        <div style="display:block; text-align:center; margin-bottom: 60px; font-weight: 800">
            <a href="" target="_blank" style="color: #0063f5">uDrive</a>
        </div>
    </div>
</div>
</body>

</html>